#car-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 75%;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}

th, td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

.verliehen {
  background-color: rgba(255, 14, 14, 0.48);
}

.container {
  display: flex;
  justify-content: center;
}

.clickable-row {
  cursor: pointer;
}

.clickable-row:hover {
  background-color: lightgray;
}


.verliehen {
  text-align: center;
}

thead {
  border-radius: 10px;
}

tbody {
  border-radius: 10px;
}